.about {
    background-color: $tertiary;
    padding: 80px 80px;

    h2 {
        color: $primary;
        font-family: $primaryFont;
        font-size: 2rem;
    }


    p {
        font-size: 0.8rem;
        padding-bottom: 10px;

        a {
            color: $secondary;
        }
    }
}

.aboutFlex {
    display: flex;
    justify-content: space-between;
    
    .aboutText {
        width: 60%;
    }

    .aboutImage {
        width: 30%;

        img {
            max-width: 100%;
        }
    }
}