.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $tertiary;
}

button {
    font-family: $secondaryFont;
    font-size: 1rem;
    padding: 10px 30px;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    transition: 0.3s;
}