.contact {
    background-color: $primary;
    color: $quaternary;
    padding: 80px 80px;
    text-align: center;

    h4 {
        padding-bottom: 20px;
    }
}

input,
textarea {
    border: none;
    border-bottom: 1px solid $secondary;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    font-family: $secondaryFont;
}

input {
    margin-right: 10px;
    margin-bottom: 15px;
    width: 40%;
}

textarea {
    width: 85%;
    border: 1px solid grey;
}

button {
    font-family: $secondaryFont;
    font-size: 1rem;
    border: none;
    background-color: $quaternary;
    padding: 10px 30px;
    margin-top: 20px;
}

button:hover {
    background-color: $primary;
    color: $quaternary;
    cursor: pointer;
    transition: 0.3s;
}