nav {
    background-color: $primary;
    color: $tertiary;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}


.navList {
    display: flex;
    font-size: 0.8rem;
    padding-top: 4px;

    li {
        padding-left: 20px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        a {
            color: $tertiary;

            &:hover {
                color: $secondary;
                transition: 0.4s;
            }
        }
    }
}

.menuIcon,
.slideOutNav {
    display: none;
}

.menuIcon {
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: $tertiary;
    border: none;

    &:hover {
        color: $secondary;
    }
}