.projects {
    background-color: $tertiary;
    padding: 80px 80px;
    text-align: center;
    color: $secondary;
}

.projectsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    
    li {
        width: 48%;

        button {
            color: $secondary;
            background-color: transparent;
            border: 1px solid $secondary;

            &:hover {
                color: $tertiary;
                background-color: $secondary;
                transition:  0.4s;
            }
        }
    }
}