// site fonts
$primaryFont: 'DM Serif Display', serif;
$secondaryFont: 'Jost', sans-serif;
$tertiaryFont: 'Lora', serif;


// site colors
// option 1:
$primary: #ebb6a1;
$secondary: #af8a7e;
$tertiary: #fffbf7;
$quaternary: #ffffff;

// option 2:
$primary: #fcf7eb;
$secondary: #d7cbbd;
$tertiary: #a2573a;
$quaternary: #a19082;
$quinary: #000000;